* {
  outline: 0px solid red;
  text-align: center;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.list {
  list-style-type: none;
  gap: 25px;
}

.flex {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.center {
  margin: auto;
  justify-content: center;
}