@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Poppins;
  outline: 0px solid red;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.green {
  text-align: center;
  background-color: rgb(86, 116, 78);
  color: white;
  padding: 10px 0px;
}

.plant {
  margin: 20px;
}

.drop-shadow {
  box-shadow: 10px 5px 5px lightgrey;
}

.flex {
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
}

.listItem {
  margin: 20px;
}

.divleft, .divright {
  max-height: 400px;
  max-width: 400px;
  margin: 25px;
}

.green-text {
  color: rgb(86, 116, 78);
}

.link {
  text-decoration: none;
}


.block {
  height: 300px;
  text-align: center;
  margin: 20px;
}

.block::before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; 
}

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;

}

.left-align {
  text-align: left;
}

.card {
  margin: 5px;
  padding: 5px;
  flex-wrap: wrap;
}

.center {
  margin: auto;
}

.headline {
  font-weight: 500;
  font-size: xxx-large;
  margin: 5px 0;
}

.blurb {
  padding: 5px;
}

.button1 {
  background-color: rgb(86, 116, 78);
  border: none;
  border-radius: 4px;
  color: white;
  width: 400px;
  padding: 5px;
}

.button2 {
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 4px;
  color: rgb(86, 116, 78);
  width: 200px;
  padding: 5px;
}

.maxwidth {
  max-width: 750px;
}