@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home-content {
    outline: 0px solid red;
    padding: 50px;
    background-color: rgb(255, 240, 245);
    font-family: Poppins;
}

.home-img {
    padding: 10px;
    margin: 10px;
    border: rebeccapurple dashed 1px;
}

.home-title {
    margin: 25px;
    max-width: 500px;
}

.home-blurb {
    margin: 20px 25px;
    max-width: 500px;
}

.button-1 {
    margin: 5px;
    padding: 5px;
    border: rebeccapurple dashed 1px;
    background-color: rgb(216,203,216);
    width: 100px;
    font-family: Poppins;
}

.button-1:hover {
    box-shadow: 2px 2px 8px rebeccapurple;
}

.hc-link {
    display: block;
    color: rebeccapurple;
    text-decoration: none;
}
