@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.center {
    outline: 0px solid red;
    padding: 50px;
    background-color: rgb(255, 240, 245);
    font-family: Poppins;
}

.card {
    border: 1px solid rgb(255,221,232);
    background-color: rgb(255, 221, 232);
}

.card:hover {
    box-shadow: 2px 2px 8px rgba(102,51,153, 0.5);
    border: 1px dashed rebeccapurple;
}